.share-icon {
  float:right;
}

#header {
  display: flex;
  flex-direction: row;
  font-family: 'Yellowtail', cursive;
  align-items:center;
  justify-content: space-between;
}

#topleft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#topright {
  display: flex;
  flex-direction: row-reverse;;
  align-items: center;
}


#delicious {
  margin: 0px;
}
#best {
  margin: 0px;
}
#title {
  display: flex;
  justify-content: space-between;

}
#midleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#midright {
  display: flex;
  flex-direction: row;
  width: 75px;
  align-items: center;
  color: grey;
}
#dessert {
  margin: 0px;
}

#postdate {
  margin: 0px;
}
#printer {
  height: 10px;
}
